# Ignore Snakemake working directory
.snakemake/

# Ignore any input files...
input/*
input/classifications/*
input/fastq/*

# ... but keep the filestructure
!input/.gitkeep
!input/classifications/
!input/classifications/.gitkeep
!input/fastq/
!input/fastq/.gitkeep

# Ignore output and log directories
output/
logs/

# Ignore anything user-related in the supporting_files folder...
supporting_files/*
supporting_files/genomes/*

# ... but keep the filestructure
!supporting_files/.gitkeep
!supporting_files/genomes/
!supporting_files/genomes/.gitkeep
