# Ignore Snakemake working directory
.snakemake/

# Ignore any input files...
input/*
input/fastq/*

# ... but keep the filestructure
!input/.gitkeep
!input/fastq/
!input/fastq/.gitkeep

# Ignore output, log, and benchmark directories
output/
logs/
benchmarks/

# Ignore anything user-related in the supporting_files folder...
supporting_files/*
supporting_files/genomes/*

# ... but keep the filestructure
!supporting_files/.gitkeep
!supporting_files/genomes/
!supporting_files/genomes/.gitkeep

# Misc
.vscode/*
kraken_db/